$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background: #22262D;
  color: #fff;
  font-size: 14px;
}

.panel.panel-2020 {
  border-radius: 0;
  border-color: #ddd;
  color: #fff;
  background-color: #596171;
  margin-bottom: 70px;
}

.dummy {
  margin-top: 100%;
}

.thumbnail {
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 15px;
  right: 0;
  text-align: center;
  padding-top: calc(50% - 60px);
  background: #ffcf01;
  color: #fff;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: #ffcf01;
  border-color: #e7bb00;
  color: #22262D
}

.navbar-default {
  background: #22262D;
  border-color: #22262D;
}

.navbar-default.container {
  height: 115px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
