<form>
  <select ng-change="getDate()" ng-model="selectedCompany" ng-options="company as company.name for company in companies"></select>
  <input ng-show="selectedCompany" ng-change=getSlot() type="email" placeholder="email" ng-model="email">
  <div ng-show="appointment">
    <span ng-show="appointment.checkedInTime">You checked in on {{ appointment.checkedInTime | date:"MMMM dd, yyyy 'at' h:mm a" }}</span>
    <span ng-show="!appointment.checkedInTime">You are scheduled for an appointment at {{ slotTime | split}}. Please click to check in.</span>
    <button ng-show="!appointment.checkedInTime" ng-click="checkin()"><i class="glyphicon glyphicon-check"></i> Check In</button>
  </div>
</form>

<div ng-show="!date">No Appointment scheduled for today</div>
