
<select ng-model="selectedCompany" ng-options="company as company.name for company in companies"
ng-change="getDates()"></select>
<select ng-show="dates.length" ng-model="selectedDate" ng-options="date as date.startDate | date for date in dates"
ng-change="getDate()"></select>

<ul ng-show="selectedDate">
  <li ng-repeat="(key, value) in selectedDate.slots">
    {{ key | split}}
    <ul ng-show="value.appointments.length">
      <li ng-repeat="patient in value.appointments">
        {{patient.first}} {{patient.last}} ({{patient.email}}) - <span ng-repeat="reason in patient.reasons">{{reason}}</span>
        <button ng-show="!patient.checkedInTime" ng-click="cancel(index, value)"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
        <span ng-show="patient.checkedInTime">Checked In at {{ patient.checkedInTime | date:"MMMM dd, yyyy 'at' h:mm a" }}</span>
      </li>
    </ul>
  </li>
</ul>

<add-date-form ng-show="selectedCompany" company="selectedCompany"></add-date-form>

<h2>New Company</h2>

<form>
  <label>Name</label><input placeholder="Name" ng-model="newCompany.name">
  <label>Address</label><input placeholder="Address" ng-model="newCompany.location.street">
  <label>Address 2</label><input placeholder="Address 2" ng-model="newCompany.location.street2">
  <label>City</label><input placeholder="City" ng-model="newCompany.location.city">
  <label>ZIP</label><input placeholder="ZIP" ng-model="newCompany.location.zip">
  <label>State</label><select ng-model="newCompany.location.state" ng-options="state.abbreviation as state.name for state in states"></select>
  <label>Phone</label><input placeholder="Phone" ng-model="newCompany.location.phone">
  <select ng-model="tmpInsurance" ng-options="ins as ins.name for ins in insurances"></select><button ng-click="newCompany.acceptedInsurances.push(tmpInsurance)"><i class="glyphicon glyphicon-plus"></i></i></button>
  <button type="submit" ng-click="addCompany(newCompany);newCompany = {acceptedInsurances: []};"><i class="glyphicon glyphicon-plus"></i> Save</button>
</form>

<p class="alert alert-danger" ng-show="err">{{err}}</p>
