
<div class="panel panel-2020">
  <div class="panel-body">
    <h2>Review Appointments</h2>
    <form>
      <div class="form-group">
        <label>Company</label>
        <select class="form-control" ng-model="selectedCompany" ng-options="company as company.name for company in companies"
                ng-change="getDates()"></select>
      </div>
      <div class="form-group" ng-show="dates.length">
        <label>Select Date</label>
        <select class="form-control" ng-model="selectedDate" ng-options="date as date.startDate | date for date in dates"
                ng-change="getDate()"></select>
      </div>
      <div class="form-group" ng-show="selectedCompany && !dates.length">
        <p>No Dates Scheduled at {{selectedCompany.name}}</p>
      </div>
    </form>
    <ul ng-show="selectedDate">
      <li ng-repeat="(key, value) in selectedDate.slots">
        {{ key | split}}
        <ul ng-show="value.appointments.length">
          <li ng-repeat="patient in value.appointments">
            <button class="btn btn-primary btn-sm" ng-show="!patient.checkedInTime" ng-click="cancel(index, value)"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
            <span ng-show="!$first">(Waitlist) </span>{{patient.first}} {{patient.last}} ({{patient.email}}) - <span ng-repeat="reason in patient.reasons">{{reason}}</span>
            <span ng-show="patient.checkedInTime">(Checked In at {{ patient.checkedInTime | date:"MMMM dd, yyyy 'at' h:mm a" }})</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<add-date-form ng-show="selectedCompany" company="selectedCompany"></add-date-form>

<div class="panel panel-2020">
  <div class="panel-body">
    <h2>New Company</h2>
    <form>
      <div class="form-group">
      <label>Name</label>
        <input class="form-control" placeholder="Name" ng-model="newCompany.name">
      </div>
      <div class="form-group">
      <label>Address</label><input class="form-control" placeholder="Address" ng-model="newCompany.location.street">
      </div>
      <div class="form-group">
      <label>Address 2</label><input class="form-control" placeholder="Address 2" ng-model="newCompany.location.street2">
      </div>
      <div class="form-group">
      <label>City</label><input class="form-control" placeholder="City" ng-model="newCompany.location.city">
      </div>
      <div class="form-group">
      <label>ZIP</label><input class="form-control" placeholder="ZIP" ng-model="newCompany.location.zip">
      </div>
      <div class="form-group">
      <label>State</label><select class="form-control" ng-model="newCompany.location.state" ng-options="state.abbreviation as state.name for state in states"></select>
      </div>
      <div class="form-group">
        <label>Phone</label><input class="form-control" placeholder="Phone" ng-model="newCompany.location.phone">
      </div>
      <div class="form-group">
        <label>Add Insurance Companies</label>
        <p ng-repeat="ins in newCompany.acceptedInsurances" ng-bind="ins.name"></p>
        <select class="form-control" ng-model="tmpInsurance" ng-options="ins as ins.name for ins in insurances"></select>
        <button class="btn btn-primary btn-sm" ng-click="newCompany.acceptedInsurances.push(tmpInsurance)">
          <i class="glyphicon glyphicon-plus"></i> Add</button>
      </div>
      <button class="btn btn-primary btn-lg" typ="submit" ng-click="addCompany(newCompany);newCompany = {acceptedInsurances: []};"><i class="glyphicon glyphicon-plus"></i> Save</button>
      <span ng-bind="msg"></span>
    </form>
  </div>
</div>

<p class="alert alert-danger" ng-show="err">{{err}}</p>
