
<h2>New Date</h2>

<form>
  <select ng-model="newDate.truck" ng-options="truck.$id as truck.nickname for truck in trucks"></select>
  <input type="date" ng-model="newDate.date">
  <input type="time" ng-model="newDate.startTime">
  <input type="time" ng-model="newDate.endTime">
  <input type="time" ng-model="breakStart">
  <input type="time" ng-model="breakEnd">
  <button type="submit" ng-click="addDate(newDate);newDate = null;">Add</button>
</form>

<p class="alert alert-danger" ng-show="err">{{err}}</p>
